{% extends 'drgsreviews/base.html' %}
{% load staticfiles %}

{% block nav-howtouse %} active {% endblock %}

{% block main %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
  <div class="card my-3 mx-5">
    <div class='card-body'>
      <h5 class="text-center mb-3">
        <dt>프로그램 사용법 (How to Use)</dt>
      </h5>
      <ol>
        <li class="mb-3">Get Random User/Drug 버튼을 눌러 임의로 하나의 사용자와 약물을 불러온다.</li>
        <li class="mb-3">Review 내용을 작성하거나, Get Data 버튼을 눌러 테스트 데이터 셋에서 임의로 리뷰 데이터를 불러온다.</li>
        <li class="mb-3">Run 버튼을 눌러 데이터 셋을 기존에 학습된 NSC+UPA 모델에 넣어 평점을 예측하도록 한다.</li>
        <li class="mb-3">불러온 데이터의 실제 평점과 모델을 통해 예측한 출력된 평점을 비교하여 본다.</li>
      </ol>
    </div>
  </div>
</main>
{% endblock %}