{% extends 'home/base.html' %}
{% load staticfiles %}

{% block nav-v%} {% endblock %}

{% block main %}
<main role="main" class="m-auto p-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This is a demo page for various Natural Language Process projects utilizing deep learning in Data Engineering Lab., Yonsei University</p>
        <hr class="my-4">
        <p>Click on the project above to see datails</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="http://delab.yonsei.ac.kr" role="button" target="_blank">Learn more</a>
        </p>
    </div>
</main>
{% endblock %}